#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    /* 字体抗锯齿渲染 */
    -webkit-font-smoothing: antialiased;
    /*
    使用灰度抗锯齿渲染
    详情见：https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth 
     */
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}